.main {
    display: flex;
    justify-content: space-around;
}

.katas {
    height: 85vh;
    width: 68%;
    border: 1px solid black;
    background-color: black;
    color: white;
    overflow: scroll;
}

.kata-add {
    display: flex;
}

.katas button {
    height: 100%;
}

.kata, .kata-list, .katalist1, .katalist2 {
    border: 1px solid white;
    height: 92%;
}

.kata-list {
    display: flex;
}

.kata-list1 {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.kata-list2 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.kata-start {
    display: flex;
}

.scroll-button {
    width: 70%;
}

.start-button {
    width: 30%;
}